#list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 3rem;
  list-style-type: none;
}

#nav {
  justify-content: space-around;
  display: flex;
  font-size: 25px;
  height: 35px;
  color: palevioletred;
  background-color: black;
  font-family: "Noto Sans", sans-serif;
  padding: 10px ;
}

.container {
  background-color: black;
}

body {
  background-color: black;
}

header {
  height: 55px;
  background-color: black;
  color: pink;
  font-size: 45px;
  font-family: "Parisienne", cursive;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

footer {
  background-color: black;
  height: 50px;
  text-align: right;
  font-family: "Noto Sans", sans-serif;
  color: pink;
  font-size: 25px;
  padding-right: 50px;
}



@media screen and (max-width: 991px) {
    #list {
      display: grid;
      grid-template-columns: repeat(3,auto);
      grid-gap: none;
    }
  
    #nav {
      font-size: 16px;
    }
  
    footer {
      font-size: 20px;
      padding-right: none;
    }
  }

  @media screen and (max-width: 767px) {
    #list {
      display: grid;
      grid-template-columns: repeat(2,auto) ;
      grid-gap: none;
    }
  
    #nav {
      font-size: 16px;
    }
  
    footer {
      font-size: 20px;
      padding-right: none;
    }
  }
    
@media screen and (max-width: 479px) {
  #list {
    display: grid;
    grid-template-columns: 100% ;
    grid-gap: none;
  }

  #nav {
    font-size: 10px;
  }

  footer {
    font-size: 20px;
    padding-right: none;
  }
}
